body{
    margin:0;
}
.logo{
    margin:5px;
}
nav{
    height: 100px;
    background-color: rgb(238, 238, 238);
    border-top: solid;
    border-top-width:10px;
    border-top-color:#003d7a;
    }

.search{
    width:max-content;
    display:flex;
    align-items: center;
    padding:10px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    margin:20px;
    transition: backround 0.25s;
    width:250px;
    position: relative;
    top: 7px;
}

.search:focus-within{
    background: #fffffff1;
}

.search-input{
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 10px;
    outline: none;
    border:none;
    background: transparent;
}

.home{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left:1000px;
}

.email{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left:1080px;
}
.library{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left:1160px;
}
.faculties{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left:1240px;
}
.alumni{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left :1320px;
}
.staff{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    float:right;
    position: absolute;
    bottom:535px;
    left:1395px;
}
.home:hover,.email:hover,.library:hover,.faculties:hover,.alumni:hover,.staff:hover{
    background-color: rgb(191, 191, 191);
}

h1{font-family: Arial, Helvetica, sans-serif;}
p{font-family: Arial, Helvetica, sans-serif;}

footer{
    background-color:#003d7a;
    color:white;
    text-align: center;
    vertical-align:middle;
    padding-top: 75px;
    width:1515px;
    height:100px;
    position:fixed bottom;
}

.factable{
    border: none;
    margin:50px;
    height: 500px;
    width:800px;
}

.facimg{
    height: 200px;
    width: 350px;
}

.factitle{
    width:100%;
    height:100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    opacity:1
}

td:hover{
    filter:brightness(75%);
}

.historyarea{
    width:400px;
    height:720px;
    background-color: #1b3249;
    position:absolute;
    top:222px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.culturearea{
    width:400px;
    height:610px;
    background-color:rgb(145, 23, 23);
    position:absolute;
    top:224px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.bioarea{
    width:400px;
    height:610px;
    background-color:rgb(0, 110, 16);
    position:absolute;
    top:224px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.medtitle{
    font-size: 25px;
    width:400px;
    justify-content: center;
    color:white;
    position: absolute;
    top:330px;
    left:70px;
}
.factext{
    text-align:justify;
    justify-items: center;
    justify-content: center;
    width:600px;
    position:relative;
    left:450px;
}

table{
    height:200px;
    width:400px;
    align-items: center;
    margin-bottom: 50px;
}

.facarea{
    width:400px;
    height:610px;
    background-color: #1b3249;
    position:absolute;
    top:1930px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.facbutton{
    width: 80px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
}

.facbanner{
    filter: brightness(100%);
}

.facarea2{
    width:400px;
    height:610px;
    background-color: #1b3249;
    position:absolute;
    top:2030px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.admbanner{
    filter: brightness(60%);
}

.facarea3{
    width:400px;
    height:610px;
    background-color: #1b3249;
    position:absolute;
    top:1949px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.facarea4{
    width:400px;
    height:610px;
    background-color: #1b3249;
    position:absolute;
    top:1930px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.stafftable, .trstaff, .tdstaff{
    border: solid;
    border-width: 2px;
    border-color:#003d7a;
    border-collapse: collapse;
    align-items: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
thead{
    background-color: #003d7a;
    color:white;
}

.facarea5{
    width:400px;
    height:609px;
    background-color: #1b3249;
    position:absolute;
    top:1877px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}

.facarea6{
    width:400px;
    height:609px;
    background-color: #1b3249;
    position:absolute;
    top:1895px;
    left:1000px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}